<!doctype html>

<html lang="en" ng-app="ignite">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

	<title>Ignite</title>
	<meta name="description" content="Ignition">
	<meta name="author" content="Ignite">

	<!-- TODO: use local files for dev purposes -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="frontend/css/styles.css?v=1.0">

	<!-- TODO: use local files for dev purposes -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

	<!-- TODO: use local files for dev purposes -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>

	<script src="frontend/js/app.js"></script>

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>


<body class="minimalist" ng-controller="mainCtrlr">

	<div class="container-fluid">


		<div id="header" class="row">

			<div class="col-xs-6">
				<span>Nina</span>
			</div>

			<div class="col-xs-6">
				<button id="login_btn" class="btn btn-dark">login</button>
			</div>

		</div>


		<div class="section-wrapper">

			<!-- front section -->
			<section id="topics" class="row section" ng-show="topics.show">

				<div class="topics-wrapper col-xs-12">

					<div id="topic-{{ topic.name }}" class="topic" ng-repeat="topic in topics.front_page_topics">

						<img class="icon" src="{{ topic.icon }}" alt="{{ topic.name }}"/>

						<span class="name" >{{ topic.name }}</span>

						<!-- TODO: load topic page, update browser url -->
						<a class="overlay" href="../api/topic/{{ topic.name }}" rel="next" data-key="{{ topic.key }}" ng-click="topicClicked( $event, topic.key )"></a>

					</div>

				</div>

				<a class="overlay back_btn" href="" ng-click="topics.toggle()"></a>

			</section>
			<!-- /front section -->


			<!-- topic section -->
			<section id="topic" class="row section" ng-show="topic.show">

				<div class="topic-wrapper col-xs-12">

					<!-- NOTE: subtopics dont have their own icons, will use parent topic icons -->
					<img class="topic-icon" href="{{ topic.topic.icon }}"/>

					<h2 class="topic-name section-title">{{ topic.topic.name }}</h2>

						<p class="topic-description section-description">{{ topic.topic.description }}</p>

					<ul class="topic-subtopics section-list">

						<!-- TODO: add ratings stuff -->
						<li id="subtopic-{{ subtopic.name }}" class="subtopic" ng-repeat="subtopic in topic.topic.subtopics">

							<span class="subtopic-check section-checkbox" ng-click="subtopicChecked( $event )"></span>

							<a class="subtopic-link subtopic-name" href="/api/subtopic/{{ subtopic.key }}" ng-click="">{{ subtopic.name }}</a>

							<p class="subtopic-description">{{ subtopic.description }}</p>

						</li>

					</ul>

				</div>

				<a class="overlay back_btn" href="" ng-click="topic.toggle()"></a>

			</section>
			<!-- /topic section -->

		</div>
		<!-- /content -->


		<div id="footer" class="row">

			<form id="subscribe" ng-submit="addSubscriber( '#subscribe' )">

				<input name="email" type="email" ng-model="subscriber.email" placeholder="your@email.com" required/>
				<input class="btn btn-dark" type="submit" value="join us"/>

			</form>

		</div>

	</div>

</body>


</html>
