body.minimalist {
    width: 100vw;
    height: 100vh;
    /* display: block; */
    background-color: rebeccapurple;
    color: white;
}

a.overlay {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
}

#header {
    padding-top: 5px;
}

#header button#login_btn {
    float: right;
}


#topics {

}

#topics .topics-wrapper {
    float: none;
    margin: 0 auto;
    max-width: 600px;
}

#topics .topic {
    float: left;
    padding: 15px;
    position: relative;
    max-height: 180px;
    max-width: 180px;
    width: 33%;
    text-align: center;
    transition: 1s;
}

#topics .topic:hover {
    transform: scale(1.2);
}

#topics .topic:hover .name {
    display: block;
}

#topics .topic .icon {
    background: white;
    border: 2px solid #d0c9d6;
    border-radius: 32px;
    max-width: 150px;
    width: 100%;
}

#topics .topic .name {
    color: black;
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-transform: lowercase;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.minimalist input[type="email"] {
    background-color: transparent;
    border-color: transparent;
    border-bottom: black solid 3px;
    color: white;
    min-width: 200px;
    line-height: 28px;
    transition: 1s;
}

.minimalist input[type="email"]:focus {
    border-bottom-color: #4cae4c;
    outline: none;
}

.minimalist input[type="submit"],
.minimalist button {
    border-radius: 0;
}

.minimalist .btn-dark {
    background: black;
    border: white solid 2px;
    transition: 1s;
}

.minimalist .btn-dark:hover {
    background: white;
    border: black solid 2px;
    color: black;
}


/**  Body content section **/
.section-wrapper {
    position: relative;
    margin-top: 10px;
    width: 100%;
    min-height: 75vh;
}

.section {
    position: absolute;
    background-color: #ccc;
    margin: 0;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    top: 0;
}

.section.ng-hide {
    display: block !important;
    transform: translateX( -100% );
    z-index: 100;
}

.section.ng-hide:hover {
    transform: translateX( -95% );
}

.section .section-title {
    border-bottom: 4px solid white;
}

.section .section-description {
    background-color: rgba( 0, 0, 0, 0.3);
    padding: 5px;
}

.section ul.section-list {
    list-style: none;
}

.section .section-list li {
    position: relative;
    overflow: hidden;
    /*height: 50px;*/
    margin-bottom: 5px;
    transition: 0.5s;
}

.section .section-list li:hover {
    overflow: visible;
    /*height: 100px;*/
}

.section .section-list .section-checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 4px solid black;
}

.section.ng-hide .back_btn {
    display: block;
}

.section .back_btn {
    /*position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    text-align: center;
    font-size: 36px;
    color: #9E9E9E;
    padding-top: 30%;
    text-decoration: none !important;
    transition: 0.5s;*/
    display: none;
    background-color: rgba(255,255,255,0.25);
}

/*.section .back_btn:hover {
    width: 60px;
}*/

#topics {
    background-color: rgb(219, 68, 55);
    /*z-index: 100;*/
}

#topic {
    background-color: rgb(0, 150, 136);
    /*z-index: 90;*/
}

#topic .subtopic-description {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 1000;
    /* display: none; */
    background-color: black;
    padding: 5px;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

#topic .subtopic:hover .subtopic-description {
    /*display: block;*/
    opacity: 0.85;
}

#topic .subtopic-check {
    width: 25px;
    height: 25px;
    position: absolute;
    /* top: 0; */
    background-color: transparent;
    border: 4px solid black;
    display: inline-block;
    transition: 0.5s;
}

#topic .subtopic-check:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#topic .subtopic-check.clicked {
    background-color: black;
}

#topic .subtopic-name {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 35px;
    display: inline-block;
    line-height: 26px;
}
